{
  "app": {
    "guid": "a05b4f84-ab7c-47e5-a913-224e18db48b9",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.codexos",
    "artifactId": "io.cronapp.apps.codexos"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "YTA1YjRmODQtYWI3Yy00N2U1LWE5MTMtMjI0ZTE4ZGI0OGI5",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.codexos",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "locale": "",
  "xframeOptions": "SameOrigin"
}